h1, h2, h3, h4, h5, h6{
    font-family: antarctican-mono, "Courier New", sans-serif;
    color: #1496dc;
    font-weight: 400;
    line-height: 1.05em;
    letter-spacing: 1px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 45px;
}

h4{
    font-size: 40px;
}

h5{
    font-size: 30px;
}

h6{
    font-size: 20px;
}

.headline__bold{
    font-weight: 600;
}
