main{
    grid-area: 2 / 2 / auto / 12;
}

.contactForm-heading{
    grid-area: 2 / 3 / auto / 11;
}

.contactForm{
    grid-area: 3 / 7 / auto / 11;
    font-family: antarctican-mono, sans-serif;
    padding-left: 20px;
    border-left: 0.05rem solid gray;

}

fieldset {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

}

input[type='text'], [type='email'], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    border-bottom: solid 1px #afafaf;
    color: #000000;
    font-family: antarctican-mono, sans-serif;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 0 0 0.875em 0;
}

input[type=button], input[type=submit], input[type=reset] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: antarctican-mono, sans-serif;
    background-color: #1496dc;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #127cb2;
}