footer{
    display: contents;
}

.footer {
    border-top: 0.01em solid #eae9e9;
    grid-area: 13 / 1 / 13 / 13;
    height: 80px;
}

.footer-copyright {
    padding-top: 40px;
    padding-left: 20px;
    color: #ababab;
    grid-area: 13 / 1 / 13 / 7;
    justify-self: start;
    height: 60px;
}

.footer-social {
    padding-top: 40px;
    padding-right: 20px;
    grid-area: 13 / 5 / 13 / 13;
    justify-self: end;
    height: 60px;
}

.footer-social a {
    text-decoration: none;
    color: black;
}

.footer-social a:hover {
    color: #1496dc;
}