@media (min-width: 320px){
    .parent, .content, .content2, .content3, .content-img, .content-img2, .content-img3, .content-text, .content-text2, .content-text3, .simple-text{
        grid-area: auto / 4 / auto / 10;
        padding: 0;
        text-align: center;
        justify-self: center;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1400px) {

    .content {
        grid-area: 2 / 2 / auto / 12;
        text-align: left;
        padding-top: 50px;
    }

    .content a, .content2 a, .content3 a {
        color: #dca314;
        font-family: antarctican-mono, sans-serif;
        text-decoration: none;
        direction: rtl;
        text-align: left;
    }

     .content2 a{
        text-align: right;
    }

    .content a:hover, .content2 a:hover, .content3 a:hover {
        font-weight: 600;
    }

    .content .content-text {
        padding-left: 60px;
        text-align: left;
        /*animation: float3 4s ease-in-out infinite;
         */
    }

    .content .simple-text {
        color: #000000;
        padding-left: 160px;
        font-weight: 400;
        text-align: justify;
        /*animation: float3 4s ease-in-out infinite;
         */
    }

    .credits{
        color: #989898;
        font-size: 13px;
    }

    .content .content-img {
        max-width: 740px;
        overflow: hidden;
        -webkit-filter: grayscale(40%);
        float: left;
        /*animation: float 6s ease-in-out infinite;
         */
    }

    .content .content-img:hover {
        filter: none;
        -webkit-filter: grayscale(0);

    }

    .content2 .content-img2:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }

    .content3 .content-img3:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }

    .content2 {
        grid-area: 3 / 2 / auto / 12;
        justify-self: end;
        padding-top: 50px;
        text-align: right;
    }

    .content2 .content-text2 {
        text-align: right;
        /* animation: float3 6s ease-in-out infinite;
         */
    }

    .content2 .simple-text2 {
        color: #000000;
        font-weight: 400;
        direction:rtl;
        text-align: justify;
        /*animation: float3 4s ease-in-out infinite;
         */
    }

    .content2 .content-img2 {
        max-width: 740px;
        overflow: hidden;
        transform: translatey(0px);
        -webkit-filter: grayscale(40%);
        float: right;
        /* animation: float2 6s ease-in-out infinite;
         */
    }

    .content3 {
        grid-area: 4 / 2 / auto / 12;
        padding-top: 50px;
        text-align: left;
    }

    .content3 .content-text3 {
        color: #dca314;
        font-size: 50px;
        font-weight: 300;
        text-align: left;
        padding-right: 50px;
        /*animation: float3 6s ease-in-out infinite;
         */
    }

    .content3 .simple-text3 {
        color: #000000;
        font-weight: 400;
        text-align: justify;
        /*animation: float3 4s ease-in-out infinite;
         */
    }

    .content3 .content-img3 {
        max-width: 740px;
        overflow: hidden;
        -webkit-filter: grayscale(40%);
        transform: translatey(0px);
        float: left;
        /*animation: float2 6s ease-in-out infinite;
         */
    }
}